/* Styles généraux */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* Logo en haut à gauche */
.logo-clea {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: auto;
}

/* Liste des assistants vocaux */
.assistant-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Réduction de l'espacement entre les éléments */
}

/* Élément individuel d'un assistant */
.assistant-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px; /* Réduction de la largeur maximale */
  min-height: 100px; /* Ajout d'une hauteur minimale pour uniformiser */
  background: #d6f3fe;
  padding: 10px; /* Réduction du padding pour diminuer la taille des cases */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.assistant-item h2 {
  margin-right: 15px; /* Réduction de l'espacement entre le titre et le widget */
  font-size: 1.2em; /* Réduction de la taille du texte */
}

/* Logo général */
.logo {
  height: 50px;
  width: auto;
  padding: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.widget-created-text {
  font-size: 12px;
  color: black;
  text-align: center;
  margin-top: 5px;
}

.widget-link {
  color: #007bff; /* Bleu */
  font-weight: bold;
  text-decoration: none; /* Pas de soulignement */
  cursor: pointer;
}

.widget-link:hover {
  text-decoration: underline; /* Effet au survol */
}
